@model IEnumerable<Room>

<style>  
    .nav li:not(:last-child)
    {
        margin-right: 30px;
    }
</style>

<ul class="nav ml-3 p-2">
    <a class="nav-link btn btn-success mr-4" asp-action="Room" asp-controller="Management">Reset</a>
    @foreach(var roomTypeName in Model.Select(r=> r.RoomTypeName).Distinct())
    {
        <li class="nav-item" id="@roomTypeName">
            <a class="nav-link btn btn-success text-white">@roomTypeName</a>
        </li>
    }
</ul>